<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2>
                    <br>
                    <div>
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                        <label for="">Address</label>
                        <input class="form-control" type="text" id="address" name="address">

                        <label for="">Pincode</label>
                        <input class="form-control" type="text" id="pincode" name="pincode">

                        <label for="">Mobile</label>
                        <input class="form-control" type="text" id="mobile" name="mobile">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount : Rs. {{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p><b>Payment Method</b></p>
                            <label for="" class="radio-inline">
                                <input type="radio" name="paymentMethod" value="COD" checked> COD
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="paymentMethod" value="ONLINE"> Online Payment
                            </label><br><br>
                            <button class="btn btn-primary" type="submit"><b>Checkout</b></button>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</section>

<script>
     $("#checkout-form").submit((e)=>{
            e.preventDefault();
            $.ajax({
                url : '/place-order',
                method : 'post',
                data : $('#checkout-form').serialize(),
                success : (response)=>{
                    if(response.codsuccess){
                        alert('Order Placed Successfully!!!')
                         location.href = '/order-success'
                    }
                    else{
                       
                        getPayment(response)
                    }
                }
            })
        })

        function getPayment(order){
            var options = {
    "key": "rzp_test_HDw3ty4YmGJaLM", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "INfo Prism",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       
        paymentDetails(response,order);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert('Payment Failed!!!');
        location.reload()
});
rzp1.open();
}

function paymentDetails(response,order){
    $.ajax({
        url : '/payment-success',
        data : {
            response,
            order
        },
        method : 'post',
        success : (response)=>{
            if(response.status){
                 alert('Order Placed Successfully!!!')
                 location.href = '/order-success'
            }
            else{
                alert('payment Failed!!!')
                location.href= '/'
            }
        }
    })
}

</script>