<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2>
                    <br>
                    <div>
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                        <label for="">Address</label>
                        <input class="form-control" type="text" id="address" name="address">

                        <label for="">Pincode</label>
                        <input class="form-control" type="text" id="pincode" name="pincode">

                        <label for="">Mobile</label>
                        <input class="form-control" type="text" id="mobile" name="mobile">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount : Rs. {{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p><b>Payment Method</b></p>
                            <label for="" class="radio-inline">
                                <input type="radio" name="paymentMethod" value="COD" checked> COD
                            </label><br>
                            <label for="" class="radio-inline">
                                <input type="radio" name="paymentMethod" value="ONLINE"> Online Payment
                            </label><br><br>
                            <button class="btn btn-primary" type="submit"><b>Checkout</b></button>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</section>

<script>
     $("#checkout-form").submit((e)=>{
            e.preventDefault();
            $.ajax({
                url : '/place-order',
                method : 'post',
                data : $('#checkout-form').serialize(),
                success : (response)=>{
                    alert('Order Successfully Placed!!!')
                    if(response.status){
                         location.href = '/order-success'
                    }
                   
                   
                }
            })
        })
</script>