<section>
    <center>
         <div>
             <br><br><br><br><br><br><br><br><br>
<center><h1>Cart is Empty!!!</h1><br>
            <a href="/view-product" class="btn btn-primary">Go and Order</a></center>
        </div>
    </center>
   
</section>